.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px 10px;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--bmd-font-Secondary);
    color: var(--bmd-white);
  }
  
  .menuGroup:first-child {
    grid-column: 1/1;
  }
  .listNone{
    list-style: none;
  }
  .menuItem a:hover {
    text-decoration: underline;
  }
  .menuItem > p{
    cursor: grab;
    text-decoration: none;
  }
  
  .groupTitle {
    margin-bottom: 10px;
    font-weight: var(--bmd-Gotham-bold);
  }
  
  .menuItem:not(:last-child) {
    margin-bottom: 5px;
  }
  .menuItem:last-child p{
    margin-top: 20px;
  }
  
  @media (min-width: 768px) {
    .nav {
      font-size: 16px;
      line-height: 24px;
      
    }
  }
  
  
  @media (min-width: 1024px) {
    .nav {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .menuGroup:first-child {
      grid-column: initial;
    }
  }
  
  @media (max-width:768px){
    .nav{
          grid-template-columns: 1fr;
    }
  }
