.container {
    height:65px; 
    position:relative; 
    overflow:hidden;
  /* margin: 30px auto 30px; */
  margin: 55px auto;
  }
  
  .photobanner {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 80s linear infinite;
  }
  
  .photobanner img {    
    margin: 0 2.5em;
  }
  
  @keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      margin: 30px 0;
    }
  }
  