.conatiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  width: 100%;
}
.sliderHolder{
  margin: auto;
}
.title *, .mobTitle *{
  color: var(--bmd-black);
  font-family: var(--bmd-font-Primary);
  font-size: var(--bmd-52px);
  font-weight: var(--bmd-IvyPresto-regular);
  line-height: 1;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 100;
}
.subTitle  *,.content *{
  color: var(--bmd-black);
  font-family: var(--bmd-font-Secondary);
  font-size: 14px;
  font-weight: var(--bmd-Gotham-book);
  line-height: 20px;
  margin: 1rem 0 3rem;
}
.mobTitle{
  display: none;
}
.productCard {
  display: grid;
  /* grid-template-columns: 33.33% 33.33% 33.33%; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}
.purchaseBoxHolder{
  max-width: 380px;
}
@media (max-width: 1024px) {
  .productCard{
      grid-template-columns: auto;
  }
  .productCard{
    margin: 2rem;
  }
  .title{
    display: none;
  }
  .mobTitle{
    display: block;
    text-align: center;
  }
  .purchaseBoxHolder{
    max-width: unset;
  }
}
@media (max-width: 322px) {
  .productCard{
    margin: 0;
  }
  .textHolder{
    margin: 1rem;
  }
}
/* @media (max-width: 510px) {
  .productCard{
      grid-template-columns: auto;
  }
} */