.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    position: relative;
}
.testimonialSlide{
    display: flex;
    flex-direction: row;
    max-height: 700px;
    min-height: 700px;
}
.testimonialSliderTrack{
    display: flex;
    flex-direction: row;
    transition: transform .5s;
}
.slideInfo{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: var(--bmd-font-Primary);
    font-weight: var(--bmd-IvyPresto-regular);
    justify-content: center;
    margin-right: 1rem;
    max-width: 0;
    overflow: hidden;
    transition: max-width .25s,opacity .5s;
    width: 500px;
    max-width: 500px;
    overflow: visible;
}
.slideInfoWidth{
    width: 500px;
}
.slideInfoQuote{
    color: #000;
    font-size: 36px;
    margin-bottom: 1rem;
}
.slideInfoAuthor{
    color: #37246b;
    font-family: var(--bmd-font-Secondary);
    font-size: 18px;
}
.playButton{
    background-color: #000;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.6);
    height: 60px;
    left: 50%;
    opacity: .6;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .4s;
    width: 90px;
    z-index: 3;
}
.slideVideo{
    cursor: pointer;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    transform: scale(.74);
    transform-origin: top center;
    transition: transform .5s cubic-bezier(.455,.03,.515,.955);
    width: 374px;
}
.slideVideo:hover .playerHolder{
    opacity: 1;
}

.dFlex{
    align-items: center;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
}
.dFlex p {
    word-wrap: normal;
    color: transparent;
    content: none;
    display: block;
    font-size: 0;
    height: 9px;
    opacity: .7;
    padding: 24px 0;
    position: relative;
    transition: opacity .4s;
    width: 53px;
    margin: auto 5px;
}
.dFlex p:before {
    background-color: #000;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.dFlex p:after {
    background: linear-gradient(135deg,#000 50%,hsla(0,0%,100%,0) 0);
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
}

.dFlex p:nth-child(2) {
    transform: rotate(180deg);
}
