.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1380px;
    width: 100%;
}
.collectionHeader{
    font-family: ivypresto-display,Times New Roman,Times,serif;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0;
    padding-top: 1rem;
    text-align: center;
    opacity: 1;
    transform: translate(0px, 0px);
}
.flex{
    display: flex;
    justify-content: center;
}
.DetailsHolder{
    margin-left: 8rem;
    padding-top: 4rem;
    width: 60%;
}
.productHolder{
    grid-gap: 0.5rem;
    display: grid;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 3rem;
    padding-top: 1rem;
    transition: all .25s;
    width: 40%;
}
.l1DetailsHolder{
    margin: auto;
    width: 84%;
}
.DetailsHolder h3, .DetailsHolder h2,.l1DetailsHolder h3, .l1DetailsHolder h2{
    font-family: var(--bmd-font-Primary);
    font-weight: var(--bmd-IvyPresto-regular);
    line-height: 1.1;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.DetailsHolder h2,.l1DetailsHolder h2{
    font-size: 62px;
}
.DetailsHolder h3, .l1DetailsHolder h3{
    font-size: 50px;
}
.DetailsHolder p, .l1DetailsHolder p {
    font-family: var(--bmd-font-Secondary);
    font-size: 14px;
    font-weight: var(--bmd-Gotham-book);
    margin: 1rem 0;
}
@media screen and (max-width: 580px) {
    .DetailsHolder h2{
        font-size: 39px;
    }
  }