.holder {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    z-index: 111;
    padding: 0.5rem 2rem;
}

.exitButton {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    cursor: pointer;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: auto;
}
.boxHide{
    display: none;
    flex: 1 0 100%;
}
.boxOne{
    flex: 1 0 50%;
}
.boxTwo{
    flex: 1 0 25%;
}
.boxThree{
    flex: 1 0 25%;
}
.boxFour{
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
}
.boxFive{
    flex: 1 0 25%;
}
.boxSix{
    flex: 1 0 25%;
}
.boxSeven{
    flex: 0 0 75%;
    display: flex;
    justify-content: end;
}

.boxEight{
    flex: 1 0 25%;
}
.boxNight{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}

.boxTen{
    color: #ffbf3c;
    font-family: Gotham-Book,Arial,serif;
    font-size: 12px;
    font-weight: 700;
    width: 150px;

}
.boxTen div{
    display: inline-block;
    margin-right: 6px;
}
.boxTen p span{
    text-decoration: underline;
}
.boxTen {
    margin: auto 0 auto 2rem;
}

.freqHolder{
    padding-right: 6rem;
}
.conHolder{
    margin: 0px 30px;
}

.boxFive p,.boxFive li ,.boxSix p, .selectLabel {
    word-wrap: break-word;
    color: #fff;
    font-family: Gotham-Book, Arial, serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 7px;
    text-transform: uppercase;
    max-width: 275px;
}
.selectLabel{
    text-transform: none;
    margin-right: 1rem;
}
.label {
    appearance: none;
    background: #000;
    border: 1px solid #ffbf3c;
    border-radius: 5px;
    font-family: Gotham-Book, Arial, serif;
    font-weight: 500;
    margin-right: 32px;
    max-width: 275px;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    display: block;
    height: 100%;
}
.hide{
    display: none;
}
.boxTwo .hide:checked + .label, .boxThree .hide:checked + .label{
    background: #ffbf3c;
    color: #000;
}

.freqHolder select, .qtyHolder select {
    background: none;
    border: 3px solid #bbb;
    color: #fff;
    cursor: pointer;
    font-family: var(--bmd-font-Secondary);
    font-size: 15px;
    max-height: 45px;
    padding: 10px 30px 10px 10px;
}

.label p {
    font-size: 24px;
}

.label .ft12 {
    font-size: 12px;
    text-align: center;
}

.label .strike {
    text-decoration: line-through;
    font-size: 18px;
    padding-left: 10px;
}

.btn {
    padding: 1rem 2rem;
    display: inline-flex;
    align-items: center;
    border: 1px solid #000;
    font-family: var(--bmd-font-Secondary);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    background: #ffbf3c;
    color: black;
    transition: background-color 0.3s ease-out;
    margin-top: 16px;
    border: 1px solid #ffbf3c;
    appearance: none;
    outline: none;
    padding: 10px 22px;
    border-radius: 5px;
    text-transform: uppercase;
    max-width: 250px;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.btn:hover {
    background-color: black;
    color: #ffbf3c;
}
@media (max-width: 1440px) {
    .boxSeven .freqHolder{
        padding-right: 1rem;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 70%;
    }
    .boxOne{
        flex: 1 0 100%;
        display: grid;
        place-content: center;
    }
    .boxHide{
        display: grid;
        place-items: center;
        margin: 1em auto;
    }
    .boxFour{
        display: none;
    }
    .boxTwo, .boxThree, .boxFive, .boxSix, .boxSeven ,.boxEight{
        flex: 1 0 50%;
        margin: 0.5rem 0;
    }
    .boxSeven{
        display: inline-block;
    }
    .boxSeven .freqHolder{
        padding: 0;
    }
}

@media (max-width: 767px) {
    .container{
        max-width: 90%;
    }
    .conHolder{
        margin: 0;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 100%;
    }
}
@media (max-width: 520px) {
    .qtyHolder, .freqHolder{
        display: flex;
        flex-direction: column;
    }
    .qtyHolder select, .freqHolder select{
    width: 90%;
    }
}