.footer {
  padding: 32px 0;
  width: 100%;
  color: white;
  background-color: var(--bmd-black);
  padding-bottom: 100px;
}

.container {
  max-width: 1380px;
  margin: auto;
  padding: 0px 32px;
}

.wrapper {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dFlex {
  display: flex;
  align-items: center;
}

.m10px {
  margin: 0 10px 0 0;
}

.textContainer {
  color: var(--bmd-white);
  font-family: var(--bmd-font-Secondary);
  font-size: 11px;
  line-height: 13px;
  margin-top: 15px;
}

.textContainer p {
  margin-bottom: 5px;
}

.textContainer ul {
  list-style: inside;
}

.textContainer ul,
.textContainer p {
  font-size: 12px;
  line-height: 18px;
}

.textContainer p:last-child {
  margin-top: 20px;
}

.socialLinkHolder a {
  margin: 0 5px;
  cursor: pointer;
}

.logo {
  width: 140px;
}

@media (min-width: 768px) {
  .logo {
    width: 160px;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 180px;
  }
}

@media (max-width: 1024px) {
  .dFlex {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 7fr 320px;
    grid-gap: 20px;
  }

  /* .footer {
    padding-bottom: 25px;
  } */

}