.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1380px;
}
.back{
    color: #37246b;
    display: block;
    font-size: 14px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-transform: uppercase;
    transition: all .25s linear;
}
.headLine{
    font-family: var(--bmd-font-Primary);
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 1px;
}
.cartContainerHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}