.twoCol {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10rem 0rem 5rem;
  }
  .copyBlock {
    width: 50%;
    padding: 4rem;
    max-width: 500px;
  }
  
  .copyBlock h1 {
    font-family: var(--bmd-font-Primary);
    font-weight: var(--bmd-IvyPresto-regular);
    font-size: 1.875rem;
  }
  
  .copyBlock h2 {
    font-family: var(--bmd-font-Secondary);
    font-weight: var(--bmd-Gotham-bold);
    font-size: 1rem;
    padding-top: 1rem;
  }
  
  .copyBlock p {
    font-family: var(--bmd-font-Secondary);
    font-weight: var(--bmd-Gotham-book);
    font-size: 1rem;
  }
  
  .copyBlock a {
    font-family: var(--bmd-font-Secondary);
    font-weight: var(--bmd-Gotham-bold);
    color: var(--bmd-deep-purple);
    text-decoration: underline;
  }
  
  .copyBlock a:hover {
    color: black;
    text-decoration: underline;
  }
  .form {
    width: 50%;
  }
  
  .formGroup {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
    max-width: 500px;
    background-color: #eee;
    padding: 30px 50px 40px;
  }
  .contPrivacy{
    margin: 0 auto;
      display: flex;
      flex-direction: column;
      border: none;
      max-width: 500px;
      padding: 0;
  }
  .formInput {
    box-sizing: border-box;
    display: block;
    padding: 8px 8px;
    line-height: 140%;
    width: 100%;
    border: none;
  }
  
  #message {
    resize: vertical;
  }
  .formLabel {
    display: block;
    font-family: var(--bmd-font-Secondary);
    font-weight: var(--bmd-Gotham-book);
    font-size: var(--bmd-12px);
    padding-top: 1rem;
  }
  .mt1{
    margin-top: 1rem;
      font-family: var(--bmd-font-Secondary);
    font-weight: var(--bmd-Gotham-book);
    font-size: var(--bmd-12px);
    accent-color: #000000;
  }
  .mt1 a{
    color: var(--bmd-deep-purple);
    text-decoration: underline;
  }
  .cta {
    width: 50%;
    display: inline-block;
    background-color: var(--bmd-black);
    color: white;
    font-family: var(--bmd-font-Secondary);
    font-weight: var(--bmd-Gotham-bold);
    font-size: 12px;
    line-height: 1.2em;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all 0.25s;
    margin: 2rem auto 0;
  }
  .cta:hover {
    background-color: var(--bmd-deep-purple);
    border: 1px solid var(--bmd-deep-purple);
  }
  .successMessage {
    border: 1px solid #1f873d;
    background-color: #f8fff9;
    color: #1f873d;
    display: block;
    width: 100%;
    padding: 0.5rem;
  }
  @media (max-width: 510px) {
    .contPrivacy{
      padding:0 20px;
    }
  }
  
  
  @media screen and (max-width: 960px) {
    .twoCol {
      flex-direction: column;
      padding: 3rem 0rem;
    }
    .copyBlock {
      margin: auto;
      width: auto;
    }
  }
  