.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1380px;
    width: 100%;
}

.holder {
    grid-gap: 4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
}

.title {
    font-family: 'ivypresto-display,Times New Roman,Times,serif';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-left: 5px;
}
@media (max-width: 1023px) {
    .holder{
        grid-template-columns: auto auto;
    }
  }

@media (max-width: 510px) {
    .holder{
        grid-template-columns: auto;
    }
  }