/* .accountHeader {
  text-align: center;
}
.accountContainer {
  display: flex;
  justify-content: space-around;
}
.accountInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
.orderContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 95%;
}
.item {
  flex: 1;
}
.orderNumber {
  max-width: fit-content;
  border: 1px solid black;
  padding: 6px;
}
.addressesButton {
  font-family: Gotham-Book, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2em;
  background: #000000;
  border: 1px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem 2rem;
  transition: all 0.25s;
}
.addressesButton2 {
  font-family: Gotham-Book, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2em;
  background: #000000;
  border: 1px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem 2rem;
  transition: all 0.25s;
  margin-top: 10px;
  max-width: 175px;
}

.logout {
  display: flex;
  margin: auto;
  margin-bottom: 32px;
}
.accountSection {
  min-height: 50vh;
}
.firstLink{
  position: relative;
    right: 20px;
}
@media screen and (max-width: 800px) {
  .accountContainer {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 4rem;
  }
  .accountInfoContainer {
    text-align: center;
    margin-bottom: 32px;
  }
  .table {
    font-size: 8px;
  }
  .orderContainer {
    text-align: center;
  }
} */
.accountHeader {
    text-align: center;
  }
  .accountContainer {
    font-family: Gotham-Book, Arial, serif;
    display: flex;
    justify-content: space-around;
  }
  .accountInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  .table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
  }
  .orderContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 95%;
    overflow: auto;
    padding: 0 1rem;
  }
  .item {
    flex: 1;
  }
  .orderNumber {
    max-width: fit-content;
    border: 1px solid black;
    padding: 6px;
  }
  .addressesButton {
    font-family: Gotham-Book, Arial, serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2em;
    background: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all 0.25s;
  }
  .addressesButton2 {
    font-family: Gotham-Book, Arial, serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2em;
    background: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all 0.25s;
    margin-top: 10px;
    max-width: 175px;
  }
  
  .logout {
    display: flex;
    margin: auto;
    margin-bottom: 32px;
  }
  .accountSection {
    min-height: 50vh;
  }
  .firstLink{
    position: relative;
      right: 20px;
  }
  .orderContainer th{ 
      background: #eee;
      position: sticky;
      top: 0;
      padding: 1rem 2rem;
      font-family: var(--bmd-font-Secondary);
      font-size: 16px;
      font-weight: 600;
  }
  
  .orderContainer td{
      border-bottom: 1px solid #ddd;
      padding: 1rem 2rem;
      text-align: center;
      font-family: var(--bmd-font-Secondary);
      font-size: 14px;
      font-weight: 400;
  }
  .orderContainer table {
    width: 100%;
  }
  
  .orderContainer th {
    font-weight: 600;
    font-size: .875rem;
    color: #000;
    background: #eee;
    position: sticky;
    top: 0;
  }
  
  @media screen and (max-width: 800px) {
    .accountContainer {
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 4rem;
    }
    .accountInfoContainer {
      text-align: center;
      margin-bottom: 32px;
    }
    .table {
      font-size: 8px;
    }
    .orderContainer {
      text-align: center;
    }
  }
  