.mainsitemap{
    margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      padding-bottom: 4rem;
      padding-top: 4rem;
      width: 100%;
  }
  .mAuto{
    text-align: center;
    margin: 1rem auto;
  }
  
  .lists{
    list-style-type: square;
      margin-left: 50px;
      padding: 1rem;
  }
  .lists a{
    font-family: var(--bmd-font-Secondary);
      font-size: 16px;
      font-weight: var(--bmd-Gotham-book);
      margin: revert;
      line-height: 34px;
      text-transform: uppercase;
  }
  .lists a:hover{
  color:#56008c;
  width: fit-content;
  cursor: pointer;
  }
  .banner{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .slide{
    margin-left: 2rem;
    list-style-type: disc;
  }
  .slide1{
    margin-left: 2rem;
    list-style-type: circle;
  }
  .head{
  font-family: var(--bmd-font-Primary);
      font-size: var(--bmd-32px);
      font-weight: var(--bmd-IvyPresto-regular);
      text-align: center;
  }