.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-bottom: 4rem;
    padding-top: 4rem;
    width: 100%;
}
.textHolder, .textPDHolder{
    padding: 4rem 1rem;
}
.container > h1{
    font-family: var(--bmd-font-Primary);
    font-size: var(--bmd-32px);
    font-weight: var(--bmd-IvyPresto-regular);
    text-align: center;
}
.textHolder > h2{
    color: var(--bmd-black);
    font-family: var(--bmd-font-Primary);
    font-size: var(--bmd-24px);
    font-weight: var(--bmd-IvyPresto-regular);
    line-height: 1;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.textHolder > h3{
    color: var(--bmd-black);
    font-family: var(--bmd-font-Primary);
    font-size: var(--bmd-24px);
    font-weight: var(--bmd-IvyPresto-regular);
    line-height: 1;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.textHolder > p,.textPDHolder > p {
    color: var(--bmd-black);
    font-family: var(--bmd-font-Secondary);
    font-size: var(--bmd-16px);
    line-height: 1.5;
    padding-bottom: 1rem;
}
.textHolder > ul li{
    color: var(--bmd-black);
    font-family: var(--bmd-font-Secondary);
    font-size: var(--bmd-16px);
    line-height: 1.5;
    padding-bottom: 1rem;
}
.container p{
    color: var(--bmd-black);
    font-family: var(--bmd-font-Secondary);
    font-size: var(--bmd-16px);
    line-height: 1.5;
    padding-bottom: 1rem;
}

@media (min-width: 800px) {
    .textPDHolder{
        padding: 6rem 2rem;
    }
}