.container{
  margin-left: auto;
    margin-right: auto;
    max-width: 1380px;
    width: 100%;
}
.productText {
    position: relative;
    font-family: var(--bmd-font-Secondary);
    color: var(--bmd-white);
    font-size: var(--bmd-18px);
    font-weight: var(--bmd-Gotham-bold);
    bottom: 1rem;
    text-shadow: 0 0 15px rgb(0 0 0 / 75%);
    text-align: end;
  }
  .buyNowButton {
    background-color: var(--bmd-black);
    color: var(--bmd-white);
    min-width: 100px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-family: var(--bmd-font-Secondary);
    border: 1px solid black;
    font-size: var(--bmd-12px);
    font-weight: var(--bmd-Gotham-book);
    transition: all 0.25s;
    text-transform: uppercase;
    padding-left: 10px;
      padding-right: 10px;
  }
  
  .RightCornerContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-right: 2rem;
    align-items: flex-end;
    position: relative;
    color: var(--bmd-white);
  }
  .solutionCardInnerContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
    /* align-content: center; */
    width: 100%;
    flex: 1;
    margin-bottom: 50px;
  }
  .solutionCardOuterContainer {
    width: 438px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 326px;
    overflow: hidden;
  }
  
  .backgroundImage {
    position: absolute;
    transition: all 1s ease-out;
    transform-origin: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .leftCornerImage {
    z-index: 2;
    width: 170px;
  }
  
  .categoryName {
    flex: 1;
    place-self: center;
    z-index: 2;
    font-size: 61px;
    color: var(--bmd-white);
    font-weight: 100;
    margin: 0;
    position: absolute;
    top: 70px;
  }
  
  .categoryName::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 10px;
    left: 0;
    background-color: var(--bmd-white);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s;
  }
  
  .categoryName::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 8px;
    right: 0;
    background-color: var(--bmd-white);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }
  
  .categoryName:hover::before {
    transform-origin: top right;
    transform: scaleX(1);
  }
  .categoryName:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  .buyNowButton:hover {
    background-color: var(--bmd-royal-purple);
    border: 1px solid var(--bmd-royal-purple);
  }
  .solutionsContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    padding-bottom: 100px;
  }
  .solutionHeader {
    font-size: 60px;
    text-align: right;
    font-weight: 100;
    font-family: var(--bmd-font-Primary);
    padding: 3rem 3rem 3rem 0rem;
  }
  @media (max-width: 1385px) {
    .solutionsContainer {
      grid-template-columns: 438px 438px;
      justify-content: center;
    }
  }
  @media (max-width: 960px) {
    .solutionsContainer {
      grid-template-columns: 438px;
      justify-content: center;
      justify-items: initial;
      padding: 2rem 2rem;
      grid-gap: 1rem;
    }
    .solutionHeader {
      font-size: 48px;
      padding: 0 3rem;
    }
  }
  @media (max-width: 768px) {
    .solutionHeader {
      font-size: var(--bmd-32px);
      padding: 0 3rem 1rem;
    }
  }
  @media (max-width: 540px) {
    .solutionsContainer {
      grid-template-columns: 340px;
      padding: 0.1rem 0.1rem;
      grid-gap: 0.5rem;
    }
  }
  
  @media (max-width: 960px) {
    .solutionCardOuterContainer {
      max-width: 100%;
      width: 100%;
    }
  }
  
  @media (max-width: 540px) {
    .solutionCardOuterContainer {
      width: 360px;
      height: 270px;
    }
    .leftCornerImage {
      z-index: 2;
      width: 120px;
      height: auto;
    }
    .RightCornerContainer {
      padding-bottom: 1rem;
      padding-right: 1rem;
    }
    .productText {
      font-size: var(--bmd-16px);
      bottom: 0.5rem;
    }
  }
  
  @media screen and (hover: hover) {
    .solutionCardOuterContainer:hover .backgroundImage {
      transform: scale(1.1);
    }
    .solutionCardOuterContainer:hover .categoryName::before {
      transform-origin: top right;
      transform: scaleX(1);
    }
    .solutionCardOuterContainer:hover .categoryName::after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
  
  @media screen and (max-width: 600px) {
    .categoryName{
      font-size: 55px;
    }
    }
  