#MasterHeadImg {
    position: relative;
    width: 100vw;
}

.title {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 4.5rem;
    line-height: 1;
    color: #fff;
}

#MasterHeadImg img {
    max-width: 100%;
    max-height: 100%;
}

.imgFull {
    width: 100vw;
    height: auto;
}

@media screen and (max-width: 1441px) {
    .title {
        font-size: 4.5rem;
        top: 60%;
    }
}

@media screen and (max-width: 1025px) {
    .title {
        font-size: 3.5rem;
        top: 50%;
    }
}

@media screen and (max-width: 769px) {
    .title {
        top: 40%;
    }
}
@media screen and (max-width: 769px) {
    .title {
        top: 35%;
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 321px) {
    .title {
        top: 37%;
        font-size: 2rem;
    }
}