.accordionTitle {
    background: #F4F3F4;
    border: 0px solid #D9D6CE;
    width: 100%;
    padding: 25px 15px 15px;
    cursor: pointer;
}

.p25_15 {
    padding: 25px 15px 0;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    margin-left: 5px;
    text-transform: uppercase;
    line-height: 18px;
}

.accordionTitleActive {
    background: none;
}

.accordionItem {
    font-family: var(--bmd-font-Secondary);
    border: 1px solid #D9D6CE;
}

.flex {
    display: flex;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 31px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.circleActive {
    width: 12px;
    height: 12px;
    border-radius: 31px;
    background: #000;
}

.crossed {
    color: #575959;
    font-family: var(--bmd-font-Secondary);
    text-decoration: line-through;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.priceFirstIndex {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    margin: 0 2px;
}

.price {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    margin: 10px 0 12px 15px;
}

.saveInfo {
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    background: #80DB69;
}

.saveText {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: auto 0;
    padding-left: 5px;
}

.titleDesc {
    display: flex;
    margin-left: 15px;
}

.titlePrice {
    top: -3px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}