.productInfoBannerContainer {
    color: #56008c;
    background-color: #FFFFFF;
  }
  
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bmd-font-Secondary);
    font-size: var(--bmd-12px);
    font-weight: var(--bmd-Gotham-book);
    line-height: 15px;
    padding: 27px 0;
  }
  
  .textContainer * {
    padding: 18px 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid #bfbfbf;
  }
  
  .textContainer *:last-child {
    border-right: none;
  }
  
  @media (max-width: 920px) {
    .textContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 11px;
    }
    .textContainer * {
      padding: 20px 10px;
    }
  }