.cartSummaryContainer {
    border: 1px solid var(--bmd-light-gray);
    padding: 2rem;
    height: fit-content;
  }
  
  
  .blockTitle {
    font-size: 28px;
    font-weight: 100;
    font-family: var(--bmd-font-Primary);
  
    margin-bottom: 1rem;
  }
  
  .priceContainer {
    display: flex;
    justify-content: space-between;
  
    font-family: var(--bmd-font-Secondary);
    font-size: 16px;
  
    margin-bottom: 1rem;
  }
  
  .checkoutButtonContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .satisfactionGuarantee {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 2rem;
    position: relative;
  }
  
  .guaranteeTextWrapper {
    text-align: center;
    font-size: 14px;
  
    font-family: var(--bmd-font-Secondary);
  }
  
  .guaranteeInfoIcon {
    margin-left: 8px;
  
    user-select: none;
  }
  
  .guaranteeOverlay {
    position: absolute;
  
    left: -8px;
    right: -8px;
  
    top: calc(100% + 12px);
  
    background-color: white;
  
    text-align: center;
  
    font-size: 12px;
    color: #2a2a2a;
    font-family: 'Helvetica Neue';
  
    pointer-events: none;
    opacity: 0;
  
    transform: scale(0.8);
  
    transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
  
    padding: 8px;
  
    z-index: 5;
  }
  .button {
    padding: 1rem 2rem;
    font-size: 12px;
    line-height: 1em;
  
    font-family: var(--bmd-font-Secondary);
  
    text-transform: uppercase;
    transition: background 0.25s, color 0.25s, border 0.25s;
  
    font-weight: 700;
  
    border-width: 2px;
    border-style: solid;
    pointer-events: all;
    width: 100%;
    text-align: center;
  }
  
  .button {
    background-color: var(--bmd-black);
    border-color: var(--bmd-black);
  
    color: white;
  }
  
  .button:hover {
    background-color: var(--bmd-royal-purple);
    border-color: var(--bmd-royal-purple);
  }
  
  
  .guaranteeOverlay.--open {
    pointer-events: all;
  
    opacity: 1;
    transform: unset;
    box-shadow: 1px 1px 6px #0000001a;
  }
  .dis{
    font-size: 11px;
      font-family: var(--bmd-font-Secondary);
      margin-bottom: 5px;
      accent-color: #000000;
  }
  .dis label{
    cursor: pointer;
  }
  
  .hyperLink{
    text-decoration: underline;
    color: #37246b;
  }