.heroButtonAndTextContainer {
  position: absolute;
  top: 220px;
  pointer-events: none;
}

.conatiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  width: 100%;
}

.titleHolder {
  color: var(--bmd-white);
  font-family: var(--bmd-font-Secondary);
  pointer-events: none;
}

.title {
  animation: styles_scaleIn__Xxf7L 1s cubic-bezier(.25, .46, .45, .94) forwards;
  animation-delay: .5s;
  color: var(--bmd-white);
  font-size: 126px;
  font-family: var(--bmd-font-Primary);
  font-weight: var(--bmd-Gotham-book);
  line-height: 4rem;
  margin-bottom: 3rem;
}
.title  h2{
  font-size: 62px;
  animation: styles_scaleIn__Xxf7L 1s cubic-bezier(.25, .46, .45, .94) forwards;
  animation-delay: .5s;
  color: var(--bmd-white);
  font-family: var(--bmd-font-Primary);
  font-weight: var(--bmd-Gotham-book);
  line-height: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.subTitle {
  animation: styles_scaleIn__Xxf7L 1s cubic-bezier(.25, .46, .45, .94) forwards;
  animation-delay: .6s;
  color: var(--bmd-white);
  font-family: var(--bmd-font-Secondary);
  font-weight: var(--bmd-Gotham-book);
  letter-spacing: .1em;
  font-size: 26px;
  line-height: 1.2em;
  margin: revert;
  margin-bottom: 3rem;
  max-width: 800px;
  width: 420px;
}

.btn {
  background-color: var(--bmd-royal-purple);
  border-color: var(--bmd-royal-purple);
  color: #fff;
  text-transform: capitalize;
  border-style: solid;
  border-width: 2px;
  font-family: var(--bmd-font-Secondary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  padding: 1rem 2rem;
  pointer-events: all;
  text-transform: uppercase;
  transition: background .25s, color .25s, border .25s;
}
.buyNow{
  position: absolute;
top: 50%;
right: 5%;
z-index: 1;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #000000;
    border: 1px solid transparent;
    padding: 0.7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 0;
    transition: color .1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.buyNow:hover{
  background-color: #e65300;
}
@media screen and (max-width: 2500px){
  .buyNow{
   top: 32%;
  }
}
@media screen and (max-width: 1810px) {
  .heroButtonAndTextContainer {
    position: absolute;
    /* top: 220px; */
    top: 175px;
    padding-left: 32px;
  }
}
@media screen and (max-width: 1025px){
  .buyNow{
   font-size: 1rem;
   padding: 0.5rem 1.25rem;
   top: 30%;
  }
}

@media screen and (max-width: 900px) {
  .heroButtonAndTextContainer {
    top: 170px;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .heroButtonAndTextContainer{
    top:155px;
  }
  .subTitle{
    font-size: 22px;
    line-height: 1em;
  }
}
@media screen and (max-width: 700px){
  .buyNow{
   right: 4%;
 top: 20%;
  }
}
@media screen and (max-width: 650px) {
  .heroButtonAndTextContainer{
    top: 200px;
  }
  .title{
    font-size: 75px;
    line-height: 2rem;
  }
  .subTitle{
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .heroButtonAndTextContainer {
    top: 180px;
  }
  .title{
    margin-bottom: 2rem;
  }
  .subTitle{
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .heroButtonAndTextContainer {
    top: 190px;
  }
  .title{
    font-size: 50px;
    margin-bottom: 1rem;
  }
  .subTitle{
    max-width: 90vw;
    font-size: 13px;
    line-height: 1.3em;
    margin-bottom: 1rem;
  }
  .btn{
    padding: .75rem 1.5rem;
  }
}