.productBadgesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 5em 0 2em 0;
  }
  
  .productBadgesCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
  }
  
  .headline {
    font-family: var(--bmd-font-Primary);
    font-size: 24px;
    font-weight: var(--bmd-IvyPresto-regular);
    color: var(--bmd-white);
    line-height: 1;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    max-width: 600px;
  }
  
  .badgeGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 320px;
  }
  .badgeGroup img{
    margin:0 1em;
  }
  
  .badgeContainer {
    width: 130px;
    margin: 1rem;
  }
  .productBadgeslist{
    margin:0;
    padding:0;
  }
  
  @media screen and (max-width: 1200px) {
     .badgeGroup img{
    margin:0 1em;
    width:120px;
    height: auto;
  }
  }
  
  @media screen and (max-width: 1000px) {
     .productBadgesCenter {
      flex-direction: row;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 80%;
      max-width: 1300px;
    }
    .headline {
      font-size: 36px;
      padding-left: 1rem;
      flex: 1;
      text-align: left;
      padding: 0;
    }
    .titleGroup {
      padding-top: 2rem;
    }
    .badgeGroup img{
    margin:0 0.5em;
    width:100px;
    height: auto;
  }
   
  
    .badgeGroup {
      flex: 1;
      display: flex;
      justify-content: center;
      min-width: 320px;
    }
  }
  @media screen and (max-width: 690px) {
    .productBadgesContainer {
      margin: 2em 0 1em;
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  .productBadgeslist{
    margin: 0 auto;
      padding: 10px 0;
      width: 33%;
      float: left;
  }
  
    .badgeGroup {
    display:inline-block;
    text-align: center;
    }
  
     .badgeGroup img{
    margin:0 0.5em;
    width:90px;
    height: auto;
  }
  }
  @media screen and (max-width: 600px) {
    .headline {
      font-size: 36px;
    }
    
  }
  